*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.download {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1em;
}
.download__btn {
  padding: 1em 0;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.download__btn--cyan {
  background-color: rgb(38, 186, 164);
  -webkit-box-shadow: 0 2px 15px rgba(38, 186, 164, 0.5), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(38, 186, 164, 0.5), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
}
.download__btn--cyan:hover {
  background-color: rgba(38, 186, 164, 0.7);
}
.download__btn--blue {
  background-color: rgb(97, 115, 255);
  -webkit-box-shadow: 0 2px 15px rgba(97, 115, 255, 0.5), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(97, 115, 255, 0.5), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
}
.download__btn--blue:hover {
  background-color: rgba(97, 115, 255, 0.7);
}

.section {
  padding: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.section__title {
  color: rgb(76, 84, 93);
  font-size: 2.7rem;
}
.section__info {
  max-width: 700px;
  padding: 1em 0;
  font-size: 1.6rem;
  line-height: 1.5em;
}

@media (min-width: 576px) {
  .download {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .download__btn {
    padding: 0.9em 2em;
  }
  .section__title {
    font-size: 3rem;
  }
  .section__info {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .section__title {
    font-size: 3.5rem;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/bg-header-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(159, 171, 178);
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-header-desktop.png");
  }
}
.header {
  padding: 1.8em;
  min-height: 70vh;
}
.header__logo-image {
  margin: 5em 0 3.2em;
}
.header__title {
  color: rgb(76, 84, 93);
  font-size: 3rem;
}
.header__info {
  max-width: 700px;
  padding: 1em 0;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.section-services .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-services .services-box .services-img {
  margin: 3em 0;
}
.section-services .services-box .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.section-services .services-box .services .service__title {
  color: rgb(76, 84, 93);
  font-size: 2.3rem;
}
.section-services .services-box .services .service__info {
  padding: 0.6em 0;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.section-services {
  margin: 6em 0;
}

.section-workflow .workflow-box {
  margin: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}
.section-workflow .workflow-box .workflow__icon {
  margin-bottom: 2em;
}
.section-workflow .workflow-box .workflow__title {
  color: rgb(76, 84, 93);
  font-size: 2.3rem;
}
.section-workflow .workflow-box .workflow__info {
  max-width: 400px;
  padding: 0.6em 0;
  font-size: 1.6rem;
  line-height: 1.5em;
}

.section-sponsors .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2em;
}

.section-download {
  margin: 6em 0;
}

@media (min-width: 576px) {
  .header__title {
    font-size: 4rem;
  }
  .header__info {
    font-size: 1.8rem;
  }
  .section-services .services-box .services .service__title {
    font-size: 2.6rem;
  }
  .section-services .services-box .services .service__info {
    max-width: 400px;
    font-size: 1.8rem;
  }
  .section-workflow .workflow-box .workflow__title {
    font-size: 2.6rem;
  }
  .section-workflow .workflow-box .workflow__info {
    font-size: 1.8rem;
  }
  .section-sponsors .sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 4.5rem;
  }
  .section-workflow .workflow-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 992px) {
  .section-services .services-box {
    margin: 2em 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
  }
  .section-services .services-box .services-img {
    min-width: 50%;
  }
  .section-services .services-box .services {
    text-align: left;
  }
  .section-services .services-box .services .service__info {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .section-services .services-box {
    gap: 5em;
  }
  .section-services .services-box .services .service__info {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=main.css.map */