@use 'utilities' as *;

// Header
.header {
	padding: 1.8em;
	min-height: 70vh;

	&__logo-image {
		margin: 5em 0 3.2em;
	}

	&__title {
		color: $dark-grayish-blue;
		font-size: 3rem;
	}

	&__info {
		max-width: 700px;
		padding: 1em 0;
		font-size: 1.6rem;
		line-height: 1.5em;
	}
}

// Services
.section-services {
	margin: 6em 0;
	.services-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		.services-img {
			margin: 3em 0;
		}
		.services {
			display: flex;
			flex-direction: column;
			gap: 2em;

			.service {
				&__title {
					color: $dark-grayish-blue;
					font-size: 2.3rem;
				}

				&__info {
					padding: 0.6em 0;
					font-size: 1.6rem;
					line-height: 1.5em;
				}
			}
		}
	}
}

// Access
.section-access {
	.access-img {
		margin-top: 2em;
	}
}

// Workflow
.section-workflow {
	margin-top: 2em;
	.workflow-box {
		margin: 4em 0;
		display: flex;
		flex-direction: column;
		gap: 3em;

		.workflow {
			&__icon {
				margin-bottom: 2em;
			}

			&__title {
				color: $dark-grayish-blue;
				font-size: 2.3rem;
			}

			&__info {
				max-width: 400px;
				padding: 0.6em 0;
				font-size: 1.6rem;
				line-height: 1.5em;
			}
		}
	}
}

// Sponsors
.section-sponsors {
	.sponsors {
		display: flex;
		flex-direction: column;
		gap: 3.2em;
	}
}

// Downlaod
.section-download {
	margin: 6em auto;
}

// Footer
.footer {
	width: 100%;
	background-color: rgba($grayish-blue, 0.2);

	.footer-box{
		padding: 3em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3em;

		.footer-logo{
			width: 3em;
		}

		.footer-nav{
			display: flex;
			flex-direction: column;
			gap: 1em;
			
			&__link{
				color: $dark-grayish-blue;
				transition: color .3s;

				&:hover{
					color: $strong-cyan;
				}
			}
		}

		.footer-socials{
			display: flex;
			gap: 2em;

			&__icon{
				fill: $dark-grayish-blue;
				transition: fill .3s;

				&:hover{
					fill: $strong-cyan;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.header {
		&__title {
			font-size: 4rem;
		}

		&__info {
			font-size: 1.8rem;
		}
	}

	.section-services {
		margin: 0;
		.services-box {
			.services {
				.service {
					&__title {
						font-size: 2.6rem;
					}

					&__info {
						max-width: 400px;
						font-size: 1.8rem;
					}
				}
			}
		}
	}

	.section-workflow {
		.workflow-box {
			.workflow {
				&__title {
					font-size: 2.6rem;
				}

				&__info {
					font-size: 1.8rem;
				}
			}
		}
	}

	.section-sponsors {
		.sponsors {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 4.5rem;
		}
	}

	.section-workflow {
		.workflow-box {
			flex-direction: row;
		}
	}

	.section-access {
		.access-img {
			margin-top: 4.8em;
		}
	}

	.footer {
		.footer-box{
			flex-direction: row;
			justify-content: space-between;
		
			.footer-nav{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				text-align-last: left;

				&__link{
					min-width: 120px;
				}
			}
		}
	}

}

@media (min-width: 992px) {
	.section-services {
		.services-box {
			margin: 2em 0;
			flex-direction: row;
			gap: 2em;

			.services-img {
				min-width: 50%;
			}
			.services {
				text-align: left;
				.service {
					&__info {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.section-services {
		.services-box {
			gap: 5em;
			.services {
				.service {
					&__info {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
