@use 'utilities' as *;

.header {
	margin-bottom: 5.9em;
	padding: 1.8em;
	min-height: 70vh;

	&__logo-image {
		margin: 5em 0 3.2em;
	}

	&__title {
		color: $dark-grayish-blue;
		font-size: 3rem;
	}

	&__info {
		max-width: 700px;
		padding: 1em 0;
		font-size: 1.6rem;
		line-height: 1.5em;
	}
}

.section-services {
	.services-box {
        display: flex;
        flex-direction: column;
        align-items: center;
		.services-img {
			margin: 2em 0;
		}
		.services {
			display: flex;
			flex-direction: column;
			gap: 2em;

			.service {
				&__title {
					color: $dark-grayish-blue;
					font-size: 2.3rem;
				}

				&__info {
					padding: 0.6em 0;
					font-size: 1.6rem;
					line-height: 1.5em;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.header {
		margin-bottom: 0;

		&__title {
			font-size: 4rem;
		}

		&__info {
			font-size: 1.8rem;
		}
	}

	.section-services {
		.services-box {
			.services {
				.service {
					&__title {
						font-size: 2.6rem;
					}

					&__info {
                        max-width: 400px;
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 4.5rem;
		}
	}
}

@media (min-width: 992px) {

    .section-services {
		.services-box {
            margin: 2em 0;
			flex-direction: row;
            gap: 2em;

			.services-img {
                min-width: 50%;
			}
			.services {
                text-align: left;
				.service {

					&__info {
                        font-size: 1.6rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {

    .section-services {
		.services-box {
            gap: 5em;
			.services {
				.service {

					&__info {
                        font-size: 1.8rem;
					}
				}
			}
		}
	
}
}
