@use 'utilities' as *;

.header {
	margin-bottom: 5.9em;
	padding: 1.8em;
	min-height: 70vh;

	&__logo-image {
		margin: 5em 0 3.2em;
	}

	@include headingAndInfo;

	&__heading {
		font-size: 3rem;
	}
}

@media (min-width: 576px) {
	.header {
		margin-bottom: 0;

		&__heading {
			font-size: 4rem;
		}

		&__info {
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__heading {
			font-size: 4.5rem;
		}
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
