$strong-cyan: rgb(38, 186, 164);
$light-blue: rgb(97, 115, 255);
$dark-grayish-blue: rgb(76, 84, 93);
$grayish-blue: rgb(159, 171, 178);
$pure-white: rgb(255, 255, 255);
$pure-black: rgb(0, 0, 0);

$body-font-size: 1.8rem;
$regular-font-weight: 400;
$bold-font-weight: 600;